$cdn = hexo-config('cdn'); 

@import '_partials/font.css';
@import '_partials/iconfont';
@import '_partials/app';
@import '_partials/style'; 
@import '_partials/bgm';   
@import '_partials/say';
@import '_partials/player.css';
@import '_partials/music';   
@import '_partials/tocbot.css'; 
@import '_partials/insight';
//@import '_partials/zoom.css';
@import '_partials/jquery.fancybox.min.css';   
@import '_partials/sharejs';

