  <script>
    var mashiro_global = new Object();
  var mashiro_option = {
   NProgressON: true,
   site_name: '{{ theme.prefixName}}{{ theme.siteName}}',
   author_name: '{{ theme.siteName}}',
   site_url: '{{ theme.url}}',
   v_appId: '{{ theme.v_appId }}',
   v_appKey: '{{ theme.v_appKey }}',
   lazyloadImg: '{{ theme.lazyloadImg }}',
   audio: '{{ theme.audio | safedump  }}',
   Say: {
    js: '{{ theme.Say.js }}',
    supabaseUrl: '{{ theme.Say.supabaseUrl }}',
    supabaseAnonKey: '{{ theme.Say.supabaseAnonKey }}',
    pageSize: '{{ theme.Say.pageSize }}',
    loadImg: '{{ theme.Say.loadImg }}',
   }
  }
  </script>