//
// Variables
// ==================================================
//$cdn = hexo-config('cdn'); 



//$layout-theme-color             = convert(hexo-config('theme_color'));
//unquote(hexo-config('family_global'))

// font
// ==================================================
// Font families.
//$font-family-monospace                 = Source Serif Pro,consolas, Monaco,monospace, "PingFang SC", "Microsoft YaHei",'Andale Mono', 'Ubuntu Mono';
//$font-family-chinese              = -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","PingFang SC", "Microsoft YaHei";
//$font-family-global               = $font-family-chinese, sans-serif;
//$font-family-global               = convert(hexo-config('family_global.global')), 
//$font-family-chinese, sans-serif if hexo-config('family_global.global');


//$font-family-Code    = Source Serif Pro,consolas, Monaco,monospace, "PingFang SC", "Microsoft YaHei",'Andale Mono', 'Ubuntu Mono',sans-serif;
//$font-family-Code   = convert(hexo-config('family_global.Code')), $font-family-monospace  if hexo-config('family_global.Code');



//font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", sans-serif !important;
