
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3318648 */
  src: url('//at.alicdn.com/t/c/font_3318648_2t7n82lgfcx.eot?t=1762596096657'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3318648_2t7n82lgfcx.eot?t=1762596096657#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3318648_2t7n82lgfcx.woff2?t=1762596096657') format('woff2'),
       url('//at.alicdn.com/t/c/font_3318648_2t7n82lgfcx.woff?t=1762596096657') format('woff'),
       url('//at.alicdn.com/t/c/font_3318648_2t7n82lgfcx.ttf?t=1762596096657') format('truetype');
}





.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.6rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Play:before {
  content: "\e629";
}

.icon-Pause:before {
  content: "\e62a";
}

.icon-Rew:before {
  content: "\e62b";
}

.icon-ffw:before {
  content: "\e62c";
}

.icon-danquxunhuan:before {
  content: "\e605";
}

.icon-liebiaoxunhuan:before {
  content: "\e606";
}

.icon-suijibofang:before {
  content: "\e608";
}

.icon-music_mute:before {
  content: "\e618";
}

.icon-music_volume_up:before {
  content: "\e61f";
}






.icon-duihuakuang:before {
  content: "\e614";
}

.icon-dongtai:before {
  content: "\e610";
}
.icon-uniF06B1:before {
  content: "\e625";
}

.icon-tv:before {
  content: "\e636";
}

.icon-yinghua:before {
  content: "\e8f2";
}

.icon-tubiaozhizuomoban:before {
  content: "\e601";
}

.icon-home2:before {
  content: "\e60a";
}

.icon-home3:before {
  content: "\e63c";
}

.icon-uniF0C4:before {
  content: "\e617";
}

.icon-check2:before {
  content: "\e63d";
}

.icon-tongji1:before {
  content: "\e69d";
}

.icon-list:before {
  content: "\e611";
}

.icon-list1:before {
  content: "\e73b";
}

.icon-archive1:before {
  content: "\eca4";
}

.icon-user1:before {
  content: "\e60b";
}

.icon-home1:before {
  content: "\e63f";
}

.icon-bilibili-tv:before {
  content: "\e7c6";
}

.icon-link_line:before {
  content: "\e761";
}

.icon-angle-down:before {
  content: "\ef19";
}

.icon-angle-up:before {
  content: "\e675";
}

.icon-clipboard:before {
  content: "\ef72";
}

.icon-Navigation:before {
  content: "\e69f";
}

.icon-bookmark2:before {
  content: "\e602";
}

.icon-archive:before {
  content: "\e85f";
}

.icon-bokeyuan:before {
  content: "\e609";
}

.icon-external-link-alt:before {
  content: "\e803";
}

.icon-book-bookmark:before {
  content: "\e72b";
}

.icon-zhiding:before {
  content: "\e628";
}

.icon-gift:before {
  content: "\e6c4";
}

.icon-tool-pen:before {
  content: "\e69b";
}

.icon-angle-left:before {
  content: "\e68d";
}

.icon-angle-right:before {
  content: "\e68f";
}

.icon-rss:before {
  content: "\e66c";
}

.icon-quote-left:before {
  content: "\e65d";
}

.icon-quote-right:before {
  content: "\e65e";
}

.icon-quote-right1:before {
  content: "\e7f5";
}

.icon-quote-left1:before {
  content: "\e7f6";
}

.icon-more1:before {
  content: "\e633";
}

.icon-bookmark:before {
  content: "\e620";
}

.icon-bookmark1:before {
  content: "\e8f0";
}

.icon-leaf:before {
  content: "\e61d";
}

.icon-link:before {
  content: "\e676";
}

.icon-home:before {
  content: "\e605";
}

.icon-tag:before {
  content: "\e64d";
}

.icon-cc-calendar:before {
  content: "\e61a";
}

.icon-more:before {
  content: "\e6ad";
}

.icon-list-ul:before {
  content: "\e8fc";
}

.icon-umbrella:before {
  content: "\e662";
}

.icon-fire:before {
  content: "\e8e2";
}

.icon-fire1:before {
  content: "\e607";
}

.icon-fire2:before {
  content: "\e639";
}

.icon-Fire:before {
  content: "\e604";
}

.icon-github-fill:before {
  content: "\e886";
}

.icon-yuque:before {
  content: "\e767";
}

.icon-email:before {
  content: "\e670";
}

.icon-film:before {
  content: "\e671";
}

.icon-bookmark-border:before {
  content: "\e885";
}

.icon-uniF06B:before {
  content: "\e693";
}

.icon-meetup:before {
  content: "\e6df";
}